.catalog-item-info {
    display: block;
    background-color: rgba(248, 204, 7, 0.767);
    width: 200px;
    height: 200px;
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10% 5%;
}

.catalog-item-info h2 {
    color: white;
    font-size: 20px;
}


.favorite-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #faf8f8;
  }
  
  .favorite-button.active {
    color: red;
  }

  .leave-group {
    background-color: red;
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-top: 60px;
  }