.group-form-page{
   
}
.GroupFormContainer{
    background-color: #92a0df;
    padding: 50px;
    position: fixed;
    top: 50px;
    bottom: 50px;
    margin-left: 400px;
    align-items: center;
    width: 80%;
    height: 100%;

}

.group-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-form-inputs label {
    margin-bottom: 5px;
  }
  
  .group-type-select-container {
    margin-top: 5px;
  }
  
  .group-form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .group-form-save-button,
  .group-form-cancel-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .group-form-save-button {
    background-color: #007bff;
    margin-right: 5px;
  }
  
  .group-form-cancel-button {
    background-color: #dc3545;
  }
  
  .group-form-save-button:hover,
  .group-form-cancel-button:hover {
    opacity: 0.8;
  }